        {%load static%}
        <!DOCTYPE html>
        <html lang="en">

        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>sungita</title>
          <link rel="stylesheet" href="{%static 'assets/css/main.css' %}">
          <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
          <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous">

        </head>
 

  
        <body>
           <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
          <section id="nav-bar">
            <nav class="navbar navbar-expand-sm navbar-light ">
              <div class="container-fluid ">
                
                <div class="navbar-brand">

                  <a href="/">
                  <div id="logo-img">
                    <img src="{%static 'assets/images/logo/vevacodes.png'%}">

                  </div>
                  </a>
                </div>
            
              
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav ">
                    <li class="nav-item">
                      <a class="nav-link"  href="#top">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#services">SERVICES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about-us">OUR WORKS</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#about-us">ABOUT US</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#footer">CONTACT</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </section>


          <!-- ---------banner section -->
          <section id="banner">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p class="promo-tittle">Get started with Digital World</p>
        <p class="promo-description">
          We are digital web agency offers industry specific solutions with world class quality on time and in budget and provides full-cycle services in the areas of software development, Web-based enterprise solutions, Web application and portal development, e-commerce Web Development.</p>


        
          <p class="promo-description">Subscribe <em>Nukta online tv</em> Youtube channel to watch more videos on Technology and
            Movies. </p>
                  <a href="https://www.youtube.com/channel/UCPrPM7dUzHbDtZPk-kkE3pg"><img src=" {% static 'assets/images/play-button-icon-png-b.png' %}" alt="" class="play-btn" target="_blank">Watch
                    Tutorials</a>
                    
                </div>
                <div class="col-md-6">
                  <img src="{%  static 'assets/images/phone-og.png' %}" alt="" class="img-fluid">
                </div>

              </div>
            </div>

            <img src="{%  static 'assets/images/wave-png-9943.png' %}" alt="" class="bottom-img">
          </section>



          <!-- ---------Services section -->
          <section id="services">

            <div class="container">
              <h1 class="title text-center">WHAT WE DO ?</h1>
                <div class="row">
                  <div class="col-md-6 services-item">
                  
                    <h1 class="services-title">Android Apps Development</h1>
                    <P> We helping to global clients with innovative and cost-effective Android  app development solutions.</P>
                  </div>
                  <div class="col-md-6">
                  <img src="{%static 'assets/images/services/android-app.png'%}" alt="" class="img-fluid">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 services-item">
                    <h1 class="services-title">Web Apps Development</h1>
                <p>Develop a web application with us is a highly cost-effective and flexible approach. We have a team of experts to Develop and fulfill your business requirements on-time.</p>    
              </div>
                  <div class="col-md-6">
                  <img src="{%static 'assets/images/services/web-dvt.png'%}" alt="" class="img-fluid">
                  </div>
                  
                </div>

                <div class="row">
                  <div class="col-md-6 services-item">
                    <h1 class="services-title">Web Hosting Services</h1>
                    <P> We helping to global clients with innovative and cost-effective Android  app development solutions.</P>
                  </div>
                  <div class="col-md-6">
                  <img src="{%static 'assets/images/services/entreprise-soln.png' %}" alt="" class="img-fluid">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 services-item">
                    <h1 class="services-title">Graphics Design</h1>
                                <h2> Graphics And Animation Design</h2>
                    <p>We believe that creatives communication is an art. It requires Creative mind and craft, but most importantly, it requires "intuition, emotion, and courage".
                      <li> UI/UX Design</li>
                    <li>Animation Design</li>
                      
                      <li>Logo & Branding Designs</li>
                    <li>2D/3D Design</li>
                    <li>Social Media Design</li></p>      
            </div>
                  <div class="col-md-6">
                  <img src="{%static 'assets/images/services/graphics-design.png' %}" alt="" class="img-fluid">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 services-item">
                    <h1 class="services-title">Digital Marketing</h1>
        <p>Result-Oriented based Digital marketing services for Business growth. We are Digital Marketing agency with valuable experience and Online Marketing expertise.</p>          </div>
                  <div class="col-md-6">
                  <img src="{%static 'assets/images/services/digital-marketing.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            
              <h1 class="button-title text-center"> <button type="button" class="btn btn-primary">All Services</button></h1>

            </div>

          </section>

          <!-- ---about us section -->
        <section id="about-us">
          <div class="container">
            <h1 class="title text-center">ABOUT US</h1>
            <div class="row">
              <div class="col-md-6 about-us">
                <p class="about-title"></p>
                <ul>
                  <li>Our Mission</li>
                  <p>We believe that there is a sweet spot where these two core business fundamentals meet that not just serves to further businesses in a meaningful but also in a sustainable way. However, we intend to make our processes mainstream.</p>
                  <li>Our Value</li>
                  <p>Undoubtedly our clients deserve the best from us. That is why we have values such as consistency & reliability. We are not just committed to constantly improving our service offering, but also maintaining consistency of procedure. This way we can guarantee a standard of service will be experienced throughout the entire business.</p>
                  
                </ul>
              </div>
              <div class="col-md-6">
        <img src="{%static 'assets/images/services/about-us.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>

        </section>
        <!-- -------Social Media--- -->
        <section id="social-media">
          <div class="container text-center">
            <p>FIND US ON SOCIAL MEDIA</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/chury.sungita" target="_blank"><img src="{%static 'assets/images/social-media/facebook.png' %}" alt="facebook"></a>
              <a href="https://www.instagram.com/churysungita_/?hl=en" target="_blank"><img src="{%static 'assets/images/social-media/instagram.png' %}" alt="instagram"></a>
              <a href="https://twitter.com/CSungita" target="_blank"><img src="{%static 'assets/images/social-media/twitter.png' %}" alt="twitter"></a>
              <a href="https://wa.me/message/VDBDJHUEBAOQN1" target="_blank"><img src="{%static 'assets/images/social-media/whatsapp.png' %}" alt="whatsapp"></a>
              <a href="#" target="_blank"><img src="{%static 'assets/images/social-media/linkedin.png' %}" alt="linkedin"></a>
            </div>

          </div>

        </section>


        <!-- -------footer section -->
        <section id="footer">
        <img src="{%static 'assets/images/wave2.png' %}" alt="footer" class="footer-img">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-box">
              
        <p>We work with a passion of taking challenges and creating new ones in advertising sector.</p>    </div>

            <div class="col-md-4 footer-box">
            <p><b>CONTACT US</b></p>
            <P> <i class="fa fa-map-marker" aria-hidden="true"></i> Dodoma, Tanzania</P>
            <p> <i class="fa fa-phone" aria-hidden="true"></i></i>+255 678 500 448</p>
            <p> <i class="fa fa-envelope-o" aria-hidden="true"></i></i>info@sungita.com</p>
            </div>

            <div class="col-md-4 footer-box">
              {% comment %} <p><b>SUBSCRIBE NEWSLETTER</b></p>
            <input type="email" class="form-control" placeholder="Your Email">
            <button type="button" class="btn btn-primary">Subscribe</button> {% endcomment %}

            {% comment %} <div class="col-lg-6 col-md-6" style="margin: 100px auto; display: block;"> {% endcomment %}
              <form enctype="multipart/form-data" method="POST" action="">
                  {% csrf_token %}
                  <div class="form-group">
                      <label>Subscribe to our Newsletter.</label>
                      <input type="email" class="form-control" id="userEmail" placeholder="Enter email" required>
                      <small style="font-weight: 600;color: red;" class="error"></small>
                      <input type="text" class="form-control mt-2" id="userName" placeholder="Enter name" required>
                      <small style="font-weight: 600;color: green;" class="success"></small>
                  </div>
                  <input type="submit" value="Subscribe" id="submit" class="btn">     
              </form>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="{% static 'assets/js/app.js' %}"></script>


            </div>
          </div>
          <hr>
          <p class="copyright">Design || Chury Sungita</p>
        </div>
        </section>


        <!-- ----Smooth Scroll -->
        <script>
          var Scroll = new SmoothScroll('a[href="#"]');
        </script>
        </body>



        </html>